<div>
  <h2>Create a team building of your dream!</h2>
  <form formGroupName="formGroup">
    <label>
      TeamBuilding Name:
      <input
        type="text"
        [formControlName]="eventName" >
    </label>
  </form>
  <div>
    <label>
      Dates:
    </label>
    <ul>
      <li *ngFor="let date of eventDates">
        <label>
          <input type="date" (change)="setDate(date, $event)">
        </label>
      </li>
      <button (click)="addDate()">Add Date</button>
    </ul>
  </div>
  <div>
    <label>Places:</label>
    <ul>
      <li *ngFor="let place of places">
        <label>
          <input type="text" (change)="setPlace(place, $event)">
        </label>
      </li>
    </ul>
    <button (click)="addPlace()">Add place</button>
  </div>
  <button (click)="generateLink()">Generate Link</button>
  <label *ngIf="!!errorMessage">{{errorMessage}}</label>
  <app-event-link-manager *ngIf="link"
    [link]="link"></app-event-link-manager>

</div>
